<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
   <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <!-- <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%t] [%L] [%-5p] %m%n</pattern> -->
         <pattern>[%d{yyyy-MM-dd'T'HH:mm:ss.sss'Z'}] [%C] [%-5p] %m%n</pattern>
      </encoder>
   </appender>
   
   <root level = "INFO">
      <appender-ref ref = "STDOUT"/> 
   </root>
   <root level = "WARN">
      <appender-ref ref = "STDOUT"/> 
   </root>
   <root level = "ERROR">
      <appender-ref ref = "STDOUT"/> 
   </root>
   <!-- <logger name="application.assignment.controller" level="DEBUG"/> -->
</configuration>