* {
    margin: 0 0;
}

body {
    background: linear-gradient(to right, #6562CE, #89B5DA);
}

.nav-bar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

a {
    text-decoration: none;
}

a button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
}

a button:hover {
    opacity: 0.8;
    cursor: pointer;
}