* {
    margin: 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    flex-flow: column;
}

.header-nav-bar {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    background-color: #ECECEC;
    color: #202020;
    box-shadow: 0px 0px 10px 1px #808080;
}

.logo-block {
    display: flex;
    padding: 10px 15px;
}

.logo-block > div {
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
}

.nav-link-block {
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 25px;
}

.link-block {
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: relative;
}

.link-block input {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
}

.link-block input:hover {
    cursor: pointer;
}

.link-block:hover {
    cursor: pointer;
}

.link-block:hover div {
    cursor: pointer;
    width: 100%;
}

.link-block div {
    width: 0%;
    background-color: #202020;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

.link-block a {
    text-decoration: none;
    color: #202020;
}

.body {
    background-color: #202020;
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.body img {
    object-fit: cover;
    width: 100%;
}

.body-title {
    position: absolute;
    margin-bottom: 10%;
    font-size: 42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    color: #202020;
}